<article class="card" style="width: 18rem;">
    <img src="{{image_url}}" class="card-img-top" alt="beer-bottle">
    <div class="card-body">
        <h5>{{name}}</h5>
        <p class="description">{{description}}</p>
        <p>First Brewed: {{first_brewed}}</p>
    </div>
    
</article>