<div class="container beers">
    <h2>Beers list</h2>
    <div class="row">
        {{#each beers}}
        <article class="card">
            <a href="/beer-details/{{id}}" role="button">
                <img src="{{image_url}}" class="card-img-top" alt="beer-bottle">
                {{>beerCard}}
            </a>
        </article>
        {{/each}}
    </div>
</div>