<div class="container">
    <h2>Beers</h2>
    <div class="row beers">
        {{#each beers}}
        <article class="col-md-3 col-sm-6 card">
            <a href="/beer-details/{{id}}" role="button">
                <img src="{{image_url}}" class="card-img-top" alt="beer-bottle">
                {{>beerCard}}
            </a>
        </article>
        {{/each}}
    </div>
</div>