<article class="random beers">
    <div class="random-image">
        <img src="{{image_url}}" class="card-img-top" alt="beer-bottle">
    </div>
    <div class="card-body">
        <h5>{{name}}</h5>
        <p class="description">{{description}}</p>
        <p>First Brewed: {{first_brewed}}</p>
    </div>
</article>