/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.navbar {
    font-size: 1.5rem;
    padding: 20px 20px 20px 40px;
    box-shadow: 0 2px 6px 0 #9e9f9f;
}

footer {
    font-size: 1rem;
    padding: 20px;
}

.home img {
    width: 65%;
    margin: 0 0 30px 120px;
}

.home-beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.home-beer a {
    padding: 10px 40px;
    margin: 15px;
    box-shadow: 0 2px 6px 0 #9e9f9f;
    font-size: 1.5rem;
}

.beers {
    padding: 50px 0 100px 0;
    text-align: center;
}

.card {
    margin: 50px;
    box-shadow: 0 2px 6px 0 #9e9f9f;
    padding: 15px;
    text-align: center;
}

.card .description {
    text-align: justify;
}


.card img {
    width: 40%;
    height: 300px;
    object-fit: fit;
    display: flex;
    align-self: center;
    padding: 15px;
}